<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/code.css">
    <title>Document</title>
</head>

<body>
    <div class="code-container">
        <h2>Nhập Mã Code</h2>
        <form action="../PHP/code.php" method="POST">
            <div class="code-inputs">
                <input type="text" class="code-input" id="code" name="code">
            </div>
            <button type="submit" class="submit-button">Xác Nhận</button>
        </form>
        <div id="error-message"></div>
    </div>
</body>

</html>