<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../CSS/quenmk.css" />
  <title>Forgot-password</title>
  <link rel="icon" type="image/png" href="../Assets/favicon-32x32.png" sizes="32x32" />
</head>

<body>
  <div class="container">
    <img src="../Assets/ms-icon-70x70.png" alt="VietTechBlog" />
    <div class="logo">VietTechBlog</div>
    <div class="title">Quên mật khẩu!</div>
    <div class="description">
      Bạn quên mật khẩu của mình? Đừng lo lắng! Hãy cung cấp cho chúng tôi
      email bạn sử dụng để đăng ký tài khoản VietTechBlog. Chúng tôi sẽ gửi
      cho bạn một liên kết để đặt lại mật khẩu của bạn qua email đó.
    </div>
    <form action="../PHP/quenmk.php" method="POST">
      <input type="email" id="email" name="email" placeholder="Địa chỉ email của bạn" required />
      <button type="submit" id="submitBtn" disabled>Gửi email cho tôi</button>
    </form>
  </div>
  <!-- script -->
  <script src="../JS/forgetPWD.js"></script>
</body>

</html>